@page
@model IndexModel
@{
    ViewData["Title"] = "dotnetdemo";
}
<center>
<h1>Whale hello there!</h1>
<img src="~/images/engine.png" width="33%" height="33%" />
    <h4>This environment is @Environment.GetEnvironmentVariable("ENVIRONMENT")</h4>
    <h4>served from @Environment.MachineName at @DateTime.Now</h4>
</center>